
<h1 class="text1">Timeline</h1>

<a class="new-post-link" href="/posts/new">New post</a>

<div class="main-container posts">
  {{#each posts}}
  <div class="card w-300">
    <form action="/posts/{{this._id}}?_method=DELETE" method="post">
      <div class="post-container">
        <br>
        {{this.message}}
          <input type="hidden" name="_method" value="DELETE">

            <button type="submit" class="delete-button btn btn-outline-secondary btn-sm no-border"><i class="fas fa-trash-alt fa-1x"></i></button>
           <a class="update-post-link" href="/posts/update/{{this._id}}"><i class="fas fa-pencil-alt fa-1x"></i></a>
        
      </div>
    </form>
    <div>
      <form action="/posts/updateLikes/{{this.id}}" method="post">
      <button id="like-button" class="btn btn-circle btn-sm btn-outline-success no-border">
      <i class="fas fa-thumbs-up fa-2x"></i>
      </button>
      </form>
      <span id="like-counter">{{this.postLikeCounter}}</span>

      <form action="/posts/updateDislikes/{{this.id}}" method="post">
      <button id="dislike-button" class="btn btn-circle btn-sm btn-outline-danger no-border">
      <i class="fas fa-thumbs-down fa-2x"></i>
      </button>
     </form>
      <span id="dislike-counter">{{this.postDislikeCounter}}</span>
      <span id="commentBox"></span>
      
    </div>

    
    <br>
    
    <div class="card w-150">
      <div class="form-popup" id="commentFormBox">
        <div class="new-comment-container">
        <button type="button"  style="float: left;" class="comment-toggle btn btn-outline-secondary btn-sm no-border" id="{{this._id}}">Comment</button>
        <form action="/posts/{{this._id}}/comments" method="post" class="form-container" id="commentform-{{this._id}}" style="display: none;">
        <input type="text" placeholder="Enter Comment" name="comment" required> 
        <button type="submit" class="btn">Send</button>
        </form>
        </div> 
      </div>
    
      {{#each this.comments}}
      <div class="d-flex justify-content-center py-2">
        <div class="comment-divider py-2 px-2"> 
          <span class="text1">
            <div class="comment-list">
            {{this}}
            </div>
          </span>
        </div>
      </div>
      {{/each}}
    </div> 
  </div>
  {{/each}}  
</div>



